# ====== Paths ======
REASONING_MODEL_REPO_ID=unsloth/Qwen3-4B-Instruct-2507-GGUF
REASONING_MODEL_PATH=./models/qwen3-4b/
REASONING_MODEL_FILE=./models/qwen3-4b/Qwen3-4B-Instruct-2507-Q4_K_M.gguf

EMBEDDING_MODEL_PATH=./models/embedding/
EMBEDDING_MODEL_NAME=paraphrase-multilingual-MiniLM-L12-v2

JUDGE_MODEL_REPO_ID = divish/M-Prometheus-7B-Q4_K_M-GGUF
JUDGE_MODEL_FILE=./models/judge/m-prometheus-7b-q4_k_m.gguf
JUDGE_MODEL_PATH=./models/judge/

RAG_DATA_PATH=./data/rag
TEST_DATA_PATH=./data/test

# ====== Model Config ======
TEMPERATURE=0.1
MAX_TOKENS=1024

GEMINI_API_KEY=YOUR_API_KEY
HF_TOKEN=YOUR_API_KEY
# ====== Stream Config ======
WINDOW_SIZE=8
LOOKAHEAD_SIZE=4
MAX_CHARS = 150
NUM_OF_NORMAL_Q = 50